<div class="container">
  <header>
    <h1 class="app-title">State Master</h1>
    <ul class="nav">
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li routerLink="counter" routerLinkActive="active">Counter</li>
      <li routerLink="posts" routerLinkActive="active">Posts</li>
    </ul>
  </header>
  <div class="content-wrapper"><router-outlet></router-outlet></div>
  <footer></footer>
</div>
